{% extends 'music/base.html' %}
{% block title %}Album details{% endblock %}
{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


{% block body %}

	<img src="{{ album.album_logo.url }}" alt="This the album logo icon", style="width:128px;height:128px;">

	<h1 style="color: white;">{{ album.album_title }}</h1>
	<h2 style="color: white;">{{ album.artist }} - {{ album.genre }}</h2>

		{% if album.song_set.all %}
			<ul>

				{% for song in album.song_set.all %}
					
					<li>
						<a href="{% url 'music:song-details' song.id %}">
							<label style="color: white;">
								{{ song.song_title }} - {{ song.file_type }}:
				       		</label>
				       	</a>
				       	<br>
								
								<!-- Delete Song -->
					            <form action="{% url 'music:delete-song' song.id %}" method="post" style="display: inline;">
					                {% csrf_token %}
					                <input type="hidden" name="song_id" value="{{ song.id }}" />
					                <button type="submit" class="btn btn-default btn-sm">
					                	<span class="glyphicon glyphicon-trash"></span>
					                </button>
								</form>
								
								<!-- Update Song -->
								<a href="{% url 'music:update-song' song.id %}" cclass="btn btn-primary btn-sm" role="button">
					            	Edit
					            	<span class="glyphicon glyphicon-edit"></span>
								</a>

								<!-- Favorite Song -->
				                <button data-songid="{{song.id}}" class="btn btn-default btn-sm btn-favorite toggle_favorite" role="button">
				                	<span id="fav_button-{{song.id}}" class="glyphicon glyphicon-star {% if song.is_favorite %}active{% endif %}"></span>
								</a>
					
				    </li>
				{% endfor %}
				    
			</ul>   		
				
		
		{% else %}
			<h3 style="color: white;">You don't have any songs</h3>
		{% endif %}		


	<!-- Add Song -->	    
	<p>
    	<a href="{% url 'music:add-song' %}" class="btn btn-success btn-lg">
      		<span class="glyphicon glyphicon-plus"></span> Add Song
    	</a>
  	</p>

{% endblock %}

{% block footer_songs_js %}
	<script src="{% static 'music/music-songs-ajax.js' %}"></script>
{% endblock footer_songs_js %}
